@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-8">
            <input type="text" id="userInput" />
            <input type="button" id="Login" value="Login" onclick="Login()" />
            <input type="button" id="Logout" value="LogoutbyConnectionId" onclick="LogoutbyConnectionId()" />
            <input type="button" id="LogoutAll" value="LogoutAllUser" onclick="LogoutAllUser()" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">ToUser</div>
    <div class="col-4"><input type="text" id="messageTouser" /></div>
</div>
<div class="row">
    <div class="col-2">Message</div>
    <div class="col-4"><input type="text" id="messageInput" /></div>
</div>
<div class="row">
    <div class="col-2">GetName</div>
    <div class="col-4"><input type="text" id="GetName" /></div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-6">
        <input type="button" id="SendAll" value="Send MessageAll" />
        <input type="button" id="SendToUser" value="Send MessageToUser" />
        <input type="button" id="GetUserOnline" value="GetUserOnline" />
    </div>
    <div class="col-6">
        <input type="button" id="Empleyee" value="Send Empleyee" />
        <input type="button" id="GetEmpleyee" value="Get Empleyee" />
        <input type="button" id="GetOnline" value="GetOnline" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
    <div class="col-6">
        <h1>UserOnline</h1>
        <ul id="UserOnline"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>