@page
<p>Use this page to detail your site's privacy policy.</p>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">FristName</div>
        <div class="col-8">
            <input type="text" id="fristname" />
            <input type="button" id="mybutton" value="Loginx" />
            @*<input type="button" id="Logout" value="Logout" />*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">LastName</div>
    <div class="col-4"><input type="text" id="lastname" /></div>
</div>
<div class="row">
    <div class="col-2">Email </div>
    <div class="col-4"><input type="text" id="email" /></div>
</div>
<div class="row">
    <div class="col-2">PhoneNumber </div>
    <div class="col-4"><input type="text" id="phonenumber" /></div>
</div>
<div class="row">&nbsp;</div>
@*<div class="row">
        <div class="col-6">
            <input type="button" id="SendAll" value="Send MessageAll" />
            <input type="button" id="SendToUser" value="Send MessageToUser" />
            <input type="button" id="GetUserOnline" value="GetUserOnline" />
        </div>
    </div>*@
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
    <div class="col-6">
        <h1>UserOnline</h1>
        <ul id="UserOnline"></ul>
    </div>
</div>

@*<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>*@